<p-dialog header="Crear Ubigeo" [modal]="true" [breakpoints]="{'575px': '100vw'}"
  [style]="{ width: '500px',maxHeight: '100%'}" [draggable]="false" [resizable]="false"
  [visible]="ubigeoStore.isOpenCreate()" (visibleChange)="onCloseModalCreate()">
  <form class="grid pt-2" [formGroup]="FormUbigeoCreate">
    <div class="col-12">
      <p-floatLabel variant="on">
        <input pInputText id="id_pais" formControlName="id_pais" class="w-full" />
        <label for="id_pais">Pais *</label>
      </p-floatLabel>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('id_pais') }}
      </small>
    </div>
    <div class="col-12">
      <p-floatLabel variant="on">
        <input pInputText id="id_departamento" formControlName="id_departamento" class="w-full" />
        <label for="id_departamento">Departamento *</label>
      </p-floatLabel>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('id_departamento') }}
      </small>
    </div>
    <div class="col-12">
      <p-floatLabel variant="on">
        <input pInputText id="id_provincia" formControlName="id_provincia" class="w-full" />
        <label for="id_provincia">Provincia *</label>
      </p-floatLabel>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('id_provincia') }}
      </small>
    </div>
    <div class="col-12">
      <p-floatLabel variant="on">
        <input pInputText id="id_distrito" formControlName="id_distrito" class="w-full" />
        <label for="id_distrito">Distrito *</label>
      </p-floatLabel>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('id_distrito') }}
      </small>
    </div>
    <div class="col-12">

      <p-floatLabel variant="on">
        <textarea rows="5" cols="30" pTextarea id="descripcion"  formControlName="descripcion" [autoResize]="false"  class="w-full"></textarea>
        <label for="descripcion">Descripcion *</label>
      </p-floatLabel>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('descripcion') }}
      </small>
    </div>

    <div class="col-12">
      <label for="estado" class="block mb-2">Estado:</label>
      <div class="flex flex-wrap gap-4">
        <div class="flex items-center">
            <p-radiobutton name="estado" [value]="true" inputId="estado-activo" formControlName="estado" />
            <label for="estado" class="ml-2">Activo</label>
        </div>
    
        <div class="flex items-center">
            <p-radiobutton name="estado" [value]="false" inputId="estado-inactivo" formControlName="estado" />
            <label for="estado" class="ml-2">Inactivo</label>
        </div>
      </div>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('estado') }}
      </small>
    </div>

  </form>

  <ng-template #footer>
    <p-button label="Cancelar" [text]="true" severity="secondary" (onClick)="onCloseModalCreate()" />

    <p-button [label]="ubigeoStore.isSubmitting() ? 'Guardando...' : 'Guardar'"
      [icon]="ubigeoStore.isSubmitting() ? 'pi pi-spinner pi-spin' : 'pi pi-save'" iconPos="left"
      [disabled]="ubigeoStore.isSubmitting()" (onClick)="handleSubmit()">
    </p-button>
  </ng-template>
</p-dialog>
