<p-dialog header="Crear Rol" [modal]="true" [breakpoints]="{'575px': '100vw'}"
          [style]="{ width: '500px',maxHeight: '100%'}" [draggable]="false" [resizable]="false"
          [visible]="rolStore.isOpenCreate()" (visibleChange)="onCloseModalCreate()">
  <form class="grid pt-2" [formGroup]="FormRolCreate">
    <div class="col-12">
      <p-floatLabel variant="on">
        <input pInputText id="nombre_rol" formControlName="nombre_rol" class="w-full"/>
        <label for="nombre_rol">Nombre Rol *</label>
      </p-floatLabel>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('nombre_rol') }}
      </small>
    </div>
    <div class="col-12">
      <label for="estado" class="block mb-2">Estado:</label>
      <div class="flex flex-wrap gap-4">
        <div class="flex items-center">
          <p-radiobutton name="estado" [value]="true" inputId="estado-activo" formControlName="estado"/>
          <label for="estado" class="ml-2">Activo</label>
        </div>
        <div class="flex items-center">
          <p-radiobutton name="estado" [value]="false" inputId="estado-inactivo" formControlName="estado"/>
          <label for="estado" class="ml-2">Inactivo</label>
        </div>
      </div>
      <small class="text-xs text-pink-600" style="height: 1em;">
        {{ getErrorMessageOnCreate('estado') }}
      </small>

    </div>

  </form>
  <ng-template #footer>
    <p-button label="Cancelar" [text]="true" severity="secondary" (onClick)="onCloseModalCreate()"/>

    <p-button [label]="rolStore.isSubmitting() ? 'Guardando...' : 'Guardar'"
              [icon]="rolStore.isSubmitting() ? 'pi pi-spinner pi-spin' : 'pi pi-save'" iconPos="left"
              [disabled]="rolStore.isSubmitting()" (onClick)="handleSubmit()">
    </p-button>
  </ng-template>
</p-dialog>
