<app-content-header 
  [breadcrumbs]="breadcrumbs" 
  title="DASHBOARD" 
  description="Tablero de metricas estadisticas mensuales">
</app-content-header>

<div class="px-3">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-cyan-400" style="background-image: url('assets/dashboard/effect-1.svg');">
                <div class="font-bold w-full mb-3">
                    <span>Total de Usuarios</span>
                </div>
                <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">0<i class="pi pi-arrow-up ml-2 font-bold"></i></div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-orange-400" style="background-image: url('assets/dashboard/effect-2.svg');">
                <div class="font-bold w-full mb-3">
                    <span>Proveedores</span>
                </div>
                <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">0 <i class="pi pi-arrow-up ml-2 font-bold"></i></div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-purple-400" style="background-image: url('assets/dashboard/effect-3.svg');">
                <div class="font-bold w-full mb-3">
                    <span>Juegos</span>
                </div>
                <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">125 <i class="pi pi-arrow-up ml-2 font-bold"></i></div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="p-3 text-white h-6rem border-round m-0 bg-center bg-cover bg-no-repeat bg-primary" style="background-image: url('assets/dashboard/effect-4.svg');">
                <div class="font-bold w-full mb-3">
                    <span>Categorias</span>
                </div>
                <div class="text-white text-2xl font-bold w-full flex align-items-center py-1">200 <i class="pi pi-arrow-up ml-2 font-bold"></i></div>
            </div>
        </div>
    
    
        <div class="col-12 lg:col-6">
            <p-card header="Resporte mensual de atenciones" subheader="Cantidad de evaluaciones por estudiante" styleClass="p-4">
            <p-header>
            </p-header>
            <p-chart type="bar" [data]="data" [options]="options"  height="340"/>
            <p-footer>
            </p-footer>
            </p-card>
    
        </div>
    </div>
    
</div>


